.more-screen .icon-row{
    margin-top: 35px;
}
.more-suggestions{
    border-top: var(--main-border);
    margin-top: 50px;
    padding-top: 40px;
}
.more-suggestions__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}
.more-suggestions__header span{
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    cursor: pointer;
}
.more-suggestion__icons{
    display: flex;
    justify-content: space-between;
}
.more-suggestion__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-suggestion__icon-image img{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}
.profile{
    padding: 5px 20px;
    background-color: rgba(182, 178, 178, 0.1);
    border-radius: 15px;
}
.profile:hover{
    box-shadow: none;
}

