.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    background-color: #0F204B;
    color: white;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
    cursor: pointer;
}

.screen-header__icons{
    position: relative;
}

@keyframes iconExpansion{
    from{
        transform: none;
    }
    to{
        transform: scale(1.3);
    }
}

.screen-header__icons span:hover i{
    animation: iconExpansion 0.5s forwards;
    will-change: transform;
}



